@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@100;200;300;400;500;600&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins";
    margin-top: 8%;
    color: #323232;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

::selection {
    background-color: #008080;
    color: #f1f1f1;
}

.sla {
    display: inline-block;
}

.onde-comer{
    width: 100%;
    height: 25em;
    padding: 50px;
    margin: 40px 0;
    accent-color: #008080;
    background-color: #f1f1f1;
}
.oque-fazer{
    width: 100%;
    height: 23em;
    padding: 50px;
    margin: 40px 0;
    accent-color: #008080;
}
.onde-ficar {
    width: 100%;
    height: 25em;
    padding: 50px;
    margin: 40px 0;
    accent-color: #008080;
    background-color: #f1f1f1;
}

.title-lista{
    justify-content: center;
    margin-bottom: 30px;
    font-size: 2em;
    color: var(--color-title);
}
.onde-comer li {
    padding: 20px;
}
.oque-fazer li{
    padding: 20px;
}
.onde-ficar li{
    padding: 20px;
}

::marker{
    color: #0084e9;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    background-color: #008080;
    z-index: 1;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    justify-content: space-evenly;
    align-items: center;
    font-family: "Open Sans";
}
.header a{
    
    font-size: 1.2em;
    color: #f1f1f1;
}
.header button {
    background-color: #e0e0e0;
    color: #008080;
    border: 0;
    border-radius: 5px;
    padding: 0.25em 0.5em;
    font-size: 1.1em;
    cursor: pointer;
}

.box-link-header .link-header{
    margin-left: 30px;
}

.santos{
    display: flex;
    justify-content: center;
    border-radius: 4px;
}

.box-1{
    display: inline-block;
    padding: 10px 30px;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--color-title);
}

.tabela {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

table{
    border: 1px solid #e0e0e0;
    background-color: #008080;
}
table, tr,th,td {
    padding: 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #323232;
    border: 1px solid #008080;
}
tr, th, td {
    padding: 5px 6px;
    background-color: #fff;
}

iframe{
    border-radius: 4px;
    
    box-shadow: 4px 4px 7px #323232;
}

.box-maps {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    margin: 20px 0;
}

.maps {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    border: 4px solid #008080;
    width: 400px;
    height: 250px;
}

