@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@100;200;300;400;500;600&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    margin-top: 3%;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

button {
    cursor: pointer;
}



a{
    text-decoration: none;
    color: #323232;
    cursor: pointer;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    background-color: #008080;
    z-index: 1;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    justify-content: space-evenly;
    align-items: center;
    font-family: "Open Sans";
}
.header a{
    font-size: 1.2em;
    font-family: "Open Sans";
    color: #f1f1f1;
}
.header button {
    background-color: #e0e0e0;
    color: #008080;
    border: 0;
    border-radius: 5px;
    padding: 3px 7px;
    font-size: 0.9em;
}

.box-1 {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
    margin-bottom: 40px;
    justify-content: center;
}

.btn{
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

.btn:hover {
    background-color: #007ddd;
    color: #000;
    transform: translateY(-3px);
}

.txt-box-1{
    margin-top: 20px;
    padding: 0 20px;
    text-align: center;

}


h1, h2 {
    color: var(--color-amarelo);
}
.txt-box-1-h2{
    
    text-align: center;
}

.ttl-amarel{
    color: #e7a930;
    text-align: center;
}

iframe{
    border: 4px solid #008080;
    border-radius: 4px;
    box-shadow: 3px 3px 7px #323232;
}

#btn{
    background-color: #008fff;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    border: none;
}

.cdd{
    width: 80%;
    height: 13em;
    margin: 20px 25px 0 25px;
    border-radius: 12px;
    transition: 0.5s;
}

.box-2:hover .cdd{
    transform: translateY(-200px);
}

.box-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 250px;
}

.box-2:hover .txt-card{
    transform: translateY(-200px);
    font-weight: 500;
}

.txt-card-2{
    padding: 0 20px;
    text-align: center;
    font-size: 12px;
    transition: 0.5s;
    transform: translateY(100px);
}

.box-2:hover .txt-card-2{
    transform: translateY(-210px);
}

.box-2{
    position: relative;
    overflow: hidden;
    background: #f1f1f1;
    width: 250px;
    height: 300px;
    text-align: center;
    font-size: 0.8em;
    margin-right: 20px;
    margin-bottom: 60px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.box-2:hover{
    scale: 1.1;
    transform: translateY(-20px);
    transition: 0.5s;
}

.box-2:hover .txt-card{
    color: #008fff;
}

.txt-card{
    padding: 20px;
    font-size: 27px;
    font-weight: 400;
    transition: 0.5s;
}

.box-3{
    padding: 60px;
}

.txt-box-3{
    padding: 10px 30px;
    text-align: center;
}

.wave{
    background-color: #008fff;
    width: 100%;
    height: 10px;
    box-shadow: 3px 3px 5px #323232;
}


table{
    border: 2px solid #e0e0e0;
}
table, tr,th,td {
    padding: 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #e0e0e0;
    background-color: #008080;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
tr, th, td {
    padding: 5px 6px;
}


.wave2{
    background-color: #008fff;
    width: 100%;
    height: 10px;
    box-shadow: 3px -3px 5px #323232;
}

